.menu-banner-item-left li a{
    text-decoration: none;
}

.text-menu-banner-item-left-new{
    font-weight: bold;
    color: #66645c;
}
.menu-banner-item-left li:hover a{
    color: green;

}
.text-menu-banner-item-left{
    color: #66645c;
}

/*div {*/
    /*width: 300px;*/
    /*height: 100px;*/
    /*padding: 15px;*/
    /*background-color: yellow;*/
    /*background-image: linear-gradient(red, yellow);*/
    /*box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);*/
/*}*/
